<html>
    <head>
        <title>Green Card</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/cadastro.css" media="screen" />        
        <link rel="shortcut icon" href="https://media.discordapp.net/attachments/875051748044181504/1222059975665520680/20240326_024757_0000.png?ex=6614d70a&is=6602620a&hm=9c63e3e69b23b5c786331effe9e7bebaaa02d06ba27af55229a0f10d79883856&=&format=webp&quality=lossless&width=473&height=473" type="image/x-icon" />
    </head>
    <body>
        <header>
            <a class="logo" href="/index.html">
                GREEN CARD
            </a>
            <ul>
                <li><a href="/view/login.html">Login</a></li> 
                <li><a href="/view/cadastro.html">Cadastro</a></li> 
            </ul>
        </header>
        <section class="form">
            <h1 style="text-align: center;">Faça o seu cadastro:</h1>
            <div>
                <form action="" method="POST" id="cadastro-form">
                    <div>
                        <label for="name">Nome / Razão Social</label>
                        <input type="text" id="name" name="name" placeholder="Nome">
                    </div>
                    <div>
                        <label>Tipo pessoa</label>
                        <br/>
                        <select name="user_type_id">
                            <option value="1">Física</option>
                            <option value="2">Jurídica</option>
                        </select>
                        <!-- <label for="fisica">Física</label>
                        <input id="fisica" type="radio" value="1" name="user_type_id" />
                        <label for="juridica">Jurídica</label>
                        <input id="juridica" type="radio" value="2" name="user_type_id" /> -->
                    </div>
                    <div>
                        <label for="cpf_cnpj">CPF / CNPJ</label>
                        <input type="text" id="cpf_cnpj" name="cpf_cnpj" placeholder="Cpf ou Cnpj" maxlength="18">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Email">
                    </div>
                    <!-- <div>
                        <label for="avatar">Avatar</label>
                        <input type="file" id="avatar" name="avatar" accept=".jpg, .jpeg, .png, application/pdf" />
                    </div> -->
                    <!-- <div>
                        <label for="avatar">Attachment</label>
                        <input
                            type="file"
                            id="docpicker"
                            accept=".txt,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" 
                        />
                    </div> -->
                    <div>
                        <label for="birthday">Data de nascimento</label>
                        <input type="date" id="birthday" name="birthday">
                    </div>
                    <div>
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div>
                        <label>Concorda com os termos?</label>
                        <br/>                        
                        <select name="user_type_id">
                            <option value="1">Sim</option>
                            <option value="2">Não</option>
                        </select>
                    </div>
                    <button type="submit" id="cadastroBtn">Cadastrar</button>
                </form>
            </div>
            
        </section>
        <script src="../script/cadastro.js"></script>
    </body>
</html>