<html>
    <head>
        <title>Green Card</title>
        <script src="/script/login.js"></script>    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/login.css" media="screen" />        
        <link rel="shortcut icon" href="https://media.discordapp.net/attachments/875051748044181504/1222059975665520680/20240326_024757_0000.png?ex=6614d70a&is=6602620a&hm=9c63e3e69b23b5c786331effe9e7bebaaa02d06ba27af55229a0f10d79883856&=&format=webp&quality=lossless&width=473&height=473" type="image/x-icon" />
    </head>
    <body>
        <header>
            <a class="logo" href="/index.html">
                GREEN CARD
            </a>
            <ul>
                <li><a href="/view/login.html">Login</a></li> 
                <li><a href="/view/cadastro.html">Cadastro</a></li> 
            </ul>
        </header>
        <section class="form">
            <h1 style="text-align: center;">Bem vindo de volta!</h1>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email">

                <select id="user_type_id">É Pessoa Física ou Jurídica?
                    <option value="1">Física</option>
                    <option value="2">Jurídica</option>
                </select>
                <!-- <label for="cpf_cnpj">CPF / CNPJ</label>
                <input type="text" id="cpf_cnpj" name="cpf_cnpj" placeholder="Cpf ou Cnpj" required> -->

                <label for="passaword">Senha</label>
                <input type="password" id="password" name="password" placeholder="Password">         
                
                <button onclick="loginUsuario()">Entrar</button>
            </div>
            
        </section>
        
    </body>
</html>